p{
    margin-top:0;
    margin-bottom:12px;

}
h1,h2,h3 {
    font-weight:400px;
  
}
h1{
  font-size: 36px;  
}
h2{
    font-size:32px;
    border-bottom:1px grey solid;
    margin-bottom:8px ;

}
#header {
    margin-bottom:32px;
    text-align:center ;
}
#footer{
margin-top:64px;
text-align:center;
}
ul {
    margin-top:0 ;
}

.main_section_item {
    text-align:left;
}